---
import { Image } from "astro:assets";
import Layout from "@/layouts/html.astro";
import FormField from "@/components/formfield.astro";
import logo from "@/assets/images/logo.avif";
import Birthday from "@/components/birthday.svelte";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.signup);
if (result && result.data && !result.error) {
	return Astro.redirect(
		`/siker?email=${encodeURIComponent(result.data.email)}`,
		303
	);
}
---

<Layout class="flex flex-col items-center">
	<script
		src="https://challenges.cloudflare.com/turnstile/v0/api.js"
		async
		defer
		is:inline></script>

	{
		result?.error && (
			<p class="text-center text-red-500">{result.error.message}</p>
		)
	}
	<form
		action={actions.signup}
		class="space-y-4 p-6 md:mt-24 md:w-lg"
		method="post"
	>
		<div class="flex flex-col items-center gap-2">
			<Image
				alt="Hack Club Győr logo"
				class="size-24 select-none"
				loading="eager"
				draggable={false}
				src={logo}
			/>
			<h1 class="text-center text-2xl font-extrabold">
				Hack Club Győr jelentkezés
			</h1>
		</div>
		<FormField
			id="name"
			label="Teljes név"
			name="name"
			placeholder="Orpheus Dino"
			required
		/>
		<FormField
			id="email"
			label="E-mail cím"
			name="email"
			placeholder="orpheus@hackclubgyor.com"
			type="email"
			required
		/>
		<FormField
			id="school"
			label="Iskola"
			name="school"
			placeholder="Győri SZC Jedlik Ányos..."
			required
		/>
		<Birthday client:visible />
		<div class="cf-turnstile" data-sitekey="0x4AAAAAABu1y2IiW2VdJdmD"></div>
		<button
			class="w-full cursor-pointer bg-[#00ff00] p-1 text-black focus-visible:bg-[#00ff00]/75 focus-visible:outline-none"
			type="submit">Beküldés</button
		>
	</form>
</Layout>
